
@{
    ViewData["Title"] = "Search Tutor";
}

<div class="avoid-nav px-5">
    <h5>Nhập các tiêu chí tìm gia sư</h5>
    <div class="filter-bar">
        <form class="form-inline filter-bar mt-3">
            <div class="form-group mb-2">
                <label class="title">Trường</label>
                <select class="content edittext" type="text" class="form-control-plaintext">
                    <option>Đại học FPT</option>
                    <option>Greenwich Việt Nam</option>
                    <option>Swinburne Việt Nam</option>
                    <option>Cao đẳng Thực hành FPT</option>
                    <option>Viện đào tạo quốc tế FPT</option>
                    <option>Viện quản trị và công nghệ FSB</option>
                    <option>Hệ thống phổ thông FPT</option>
                    <option>Phổ thông Cao đẳng FPT</option>
                </select>
            </div>

            <div class="form-group mb-2 ml-2">
                <label class="title">Môn</label>
                <select class="content edittext" type="text" class="form-control-plaintext">
                    <option>PRN</option>
                    <option>SWD</option>
                    <option>JPN</option>
                    <option>PRJ</option>
                    <option>PRM</option>
                </select>
            </div>

            <button type="submit" class="btn btn-green mb-2 ml-2">Tìm kiếm</button>
            <button type="submit" class="btn btn-secondary mb-2 ml-2">Xóa</button>
        </form>
    </div>

    <!-- RESULT -->
    <div class="result w-100 mt-4">
        <div class="tutor-item w-100" style="background-color: #FBFFFE; width: fit-content;">
            <!-- TUTOR IDENTITY -->
            <div class="tutor-id text-center" style="width: fit-content;">
                <img class="avatar"
                style="width: 6rem; border-radius: 10rem;" 
                src="/images/common/AvatarThuan.png"/>
                <h5 class="tutor-name mt-4">Trần Minh Thuận</h5>
                <button onClick='alert("Đã thông báo về việc đăng kí học của bạn đến gia sư, vui lòng chờ liên lạc từ phía gia sư! ^^")' class="btn btn-green text-white mt-3">Đăng kí học</button>
            </div>
            
            <!-- TUTOR TEACHING INFORMATION -->
            <div class="tutor-teach ml-5">
                <p class="highlight-lg">K15</p>
                <p class="content">Đại học FPT - TP.HCM</p>
                <p class="highlight-md mb-1 mt-3">Môn dạy</p>
                <div class="small-collection blue">
                    <p class="item">PRN</p>
                    <p class="item">SWD</p>
                    <p class="item">PRJ</p>
                </div>    

                <p class="highlight-md mb-1 mt-3">Nơi dạy</p>
                <div class="small-collection orange">
                    <p class="item">Nhà riêng</p>
                    <p class="item">Thư viện</p>
                    <p class="item">Online</p>
                </div> 
                
                <div class="pricing mt-3">
                    <div class="item">
                        <p class="title highlight-md">Học phí offline</p>
                        <p class="content">150,000VND/buổi</p>
                    </div>
                    <div class="item">
                        <p class="title highlight-md">Học phí online</p>
                        <p class="content">120,000VND/buổi</p>
                    </div>
                </div>
            </div>
            
            <!-- TUTOR PROFILE -->
            <div class="tutor-intro w-100 ml-4" style="height: max-content">
                <p class="highlight-lg">Giới thiệu</p>
                <div class="content">
                    <p>Giới tính: Nam</p>
                    <p>Số điện thoại: 0907555123s</p>
                    <p>Địa chỉ: TP. Thủ Đức</p>
                    <hr>
                    <p>Từng là học sinh trường Tư thục Nguyễn Khuyến cơ sở 1 Điểm thi THPT khối A00: 27.4</p>
                </div>

                <div class="w-100 text-right" style="margin-top: 5rem">
                    <a href="/tutor/profile" class="btn btn-green mt-3 right-bottom" style="width: fit-content">Xem chi tiết</a>
                </div>
            </div>
        </div>

        <div class="tutor-item w-100 mt-4" style="background-color: #FBFFFE; width: fit-content;">
            <!-- TUTOR IDENTITY -->
            <div class="tutor-id text-center" style="width: fit-content;">
                <img class="tutor avatar"
                style="width: 6rem; border-radius: 10rem;" 
                src="/images/common/AvatarTam.png"/>
                <h5 class="tutor-name mt-4">Hồ Thanh Tâm</h5>
                <button onClick='alert("Đã thông báo về việc đăng kí học của bạn đến gia sư, vui lòng chờ liên lạc từ phía gia sư! ^^")' class="btn btn-green text-white mt-3">Đăng kí học</button>
            </div>
            
            <!-- TUTOR TEACHING INFORMATION -->
            <div class="tutor-teach ml-5">
                <p class="highlight-lg">K15</p>
                <p class="content">Đại học FPT - TP.HCM</p>
                <p class="highlight-md mb-1 mt-3">Môn dạy</p>
                <div class="small-collection blue">
                    <p class="item">CHN</p>
                    <p class="item">ENG</p>
                </div>    

                <p class="highlight-md mb-1 mt-3">Nơi dạy</p>
                <div class="small-collection orange">
                    <p class="item">Nhà riêng</p>
                    <p class="item">Thư viện</p>
                    <p class="item">Online</p>
                </div> 
                
                <div class="pricing mt-3">
                    <div class="item">
                        <p class="title highlight-md">Học phí offline</p>
                        <p class="content">150,000VND/buổi</p>
                    </div>
                    <div class="item">
                        <p class="title highlight-md">Học phí online</p>
                        <p class="content">120,000VND/buổi</p>
                    </div>
                </div>
            </div>
            
            <!-- TUTOR PROFILE -->
            <div class="tutor-intro w-100 ml-4" style="height: max-content">
                <p class="highlight-lg">Giới thiệu</p>
                <div class="content">
                    <p>Giới tính: Nữ</p>
                    <p>Số điện thoại: 0907555123s</p>
                    <p>Địa chỉ: Quận Bình Thạnh, TP.HCM</p>
                    <hr>
                    <p>Đã và đang đi làm tại Axon VN</p>
                </div>

                <div class="w-100 text-right" style="margin-top: 5rem">
                    <a href="/tutor/profile" class="btn btn-green mt-3 right-bottom" style="width: fit-content">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</div>
