
@{
    ViewData["Title"] = "Search Tutor";
}

<div class="avoid-nav px-5">
    <h5>Nhập các tiêu chí tìm gia sư</h5>
    <div class="filter-bar">
        <form class="form-inline filter-bar mt-3">
            <div class="form-group mb-2">
                <label class="title">Trường</label>
                <select class="content edittext" type="text" class="form-control-plaintext">
                    <option>Đại học FPT</option>
                    <option>Greenwich Việt Nam</option>
                    <option>Swinburne Việt Nam</option>
                    <option>Cao đẳng Thực hành FPT</option>
                    <option>Viện đào tạo quốc tế FPT</option>
                    <option>Viện quản trị và công nghệ FSB</option>
                    <option>Hệ thống phổ thông FPT</option>
                    <option>Phổ thông Cao đẳng FPT</option>
                </select>
            </div>

            <div class="form-group mb-2 ml-3">
                <label class="title">Ngành</label>
                <select class="content edittext" type="text" class="form-control-plaintext">
                    <option>Software Engineer</option>
                    <option>Graphic Design</option>
                    <option>Artificial Intelligent</option>
                    <option>International Business</option>
                    <option>English Specialist</option>
                </select>
            </div>

            <div class="form-group mb-2 ml-3">
                <label class="title">Môn</label>
                <select class="content edittext" type="text" class="form-control-plaintext">
                    <option>PRN</option>
                    <option>SWD</option>
                    <option>JPN</option>
                    <option>PRJ</option>
                    <option>PRM</option>
                </select>
            </div>

            <button type="submit" class="btn btn-green mb-2 ml-3">Tìm kiếm</button>
            <button type="submit" class="btn btn-secondary mb-2 ml-1">Xóa</button>
        </form>
    </div>
</div>