@using Tutoree.Utils.Common
@{
    ViewData["Title"] = Routers.Login.Title;
}

<img class="bg" src="/images/login/Background.png"/>
<img class="bg-decor" src="/images/login/BackgroundDecorator.png"/>
<img class="bg-decor the-owl" src="/images/login/BackgroundDecorator2.png"
     style="position: fixed;
        width: 60vw;
        height: 80vh;
        top: 7vh;
        left: -3vw;
        object-fit: contain;"/>

<div class="panel-login position-fixed rounded-panel p-4"
     style="
                width: min(600px, 60vh);
                background-color: white;
                right: 10vw;
                top: calc((100vh - min(250px, 25vh))/2 - 6vh);
                box-shadow: var(--shadow-md)">

    <h3 class="panel-title w-full text-black text-center">
        Đăng nhập
    </h3>

    <form class="">
        <div class="form-group">
            <label for="exampleInputEmail1">User name</label>
            <input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary btn-green w-100">Log in</button>
    </form>
</div>

@section Scripts {

    <script src="/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function continueWithNextIdp(notification) {
            if (notification && notification.credential) {
               const user = jwt_decode(notification.credential);
               if (!user.email.includes(`fpt`)) {
                    alert("Please use your FPT email to login");
                    
                }  else {
                    if (user.email == "taittse150194@fpt.edu.vn") {
                        window.location.href = `/home/stu`;
                    } else {
                        window.location.href = `/home/tut`;
                    }
                } 
            }
        }
    </script>
}