@using Tutoree.Utils.Common
@{
    this.ViewData["Title"] = Routers.Register.Title;
}

<div class="w-100">
    <div class="bg">
        
        <img class="decor-top position-absolute" 
            style="width: 95vw; top: 0; right: 0; object-fit: contain; z-index: -100"
            src="/images/register/BackgroundDecorator2.png"/>

            <img class="decor-top position-absolute" 
            style="width: 95vw; top: 90vh; left: 0; object-fit: contain; z-index: -100"
            src="/images/register/BackgroundDecorator.png"/>

    </div>

    <div class="register-panel avoid-nav mx-auto position-relative"
    style="width: min(30vw, 300px); z-index: 1">
        <h1>Đăng kí</h1>
        <h3>Thông tin cá nhân</h3>
        
        <form class="mt-4" style="margin-bottom: 30vh">
            <div class="form-group">
              <label for="exampleInputEmail1">Địa chỉ email</label>
              <input readonly type="email" class="form-control bg-white" value="taittse150194@fpt.edu.vn">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Họ và tên</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Số điện thoại</label>
                <input type="number" class="form-control">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Cơ sở giáo dục</label>
                <select class="form-control">
                    <option>Đại học FPT</option>
                    <option>Greenwich Việt Nam</option>
                    <option>Swinburne Việt Nam</option>
                    <option>Cao đẳng Thực hành FPT</option>
                    <option>Viện đào tạo quốc tế FPT</option>
                    <option>Viện quản trị và công nghệ FSB</option>
                    <option>Hệ thống phổ thông FPT</option>
                    <option>Phổ thông Cao đẳng FPT</option>
                </select>    
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Khóa</label>
                <select class="form-control">
                    <option>K1</option>
                    <option>K2</option>
                    <option>K3</option>
                    <option>K4</option>
                    <option>K5</option>
                    <option>K6</option>
                    <option>K7</option>
                    <option>K8</option>
                    <option>K9</option>
                    <option>K10</option>
                    <option>K11</option>
                    <option>K12</option>
                    <option>K13</option>
                    <option>K14</option>
                    <option>K15</option>
                    <option>K16</option>
                    <option>K17</option>
                    <option>K18</option>
                    <option>K19</option>
                </select>    
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Ngành</label>
                <select class="form-control">
                    <option>Software Engineer</option>
                    <option>Graphic Design</option>
                    <option>Artificial Intelligent</option>
                    <option>International Business</option>
                    <option>English Specialist</option>
                </select>    
            </div>

            <button type="submit" class="mt-3 btn btn-green w-100">Tiếp theo</button>
        </form>

    </div>
</div>

@section Scripts {

<script src="/js/register.js"></script>

}