@using Tutoree.Utils.Common
@using Tutoree.Models
@{
    ViewData["Title"] = Routers.Register.Title;
}

<div class="w-100">
    <div class="bg">
        
        <img class="decor-top position-absolute" 
            style="width: 95vw; top: 0; right: 0; object-fit: contain; z-index: -100"
            src="/images/register/BackgroundDecorator2.png"/>

            <img class="decor-top position-absolute" 
            style="width: 95vw; top: 90vh; left: 0; object-fit: contain; z-index: -100"
            src="/images/register/BackgroundDecorator.png"/>

    </div>

    <div class="register-panel avoid-nav mx-auto position-relative"
    style="width: min(30vw, 300px); z-index: 1">
        <h1>Đăng kí</h1>
        <h3>Thông tin cá nhân</h3>
        
        <form class="mt-4" style="margin-bottom: 30vh">
            <div class="form-group">
                <label for="exampleInputEmail1">Địa chỉ email</label>
                <input required type="email" class="form-control bg-white">
            </div>
            
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1">Họ và tên</label>
              <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Số điện thoại</label>
                <input type="number" class="form-control">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Cơ sở giáo dục</label>
                <select class="form-control">
                    @foreach (Location location in ViewBag.LocationList)
                    {
                        <option>@location.LocationName</option>
                    }
                </select>    
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Khóa</label>
                <select class="form-control">
                    @foreach (SchoolYear schoolYear in ViewBag.SchoolYearList)
                    {
                        <option>@schoolYear.SchoolYearName</option>
                    }
                </select>    
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Ngành</label>
                <select class="form-control">
                    @foreach (Major major in ViewBag.MajorList)
                    {
                        <option>@major.MajorName</option>
                    }
                </select>    
            </div>

            <button type="submit" class="mt-3 btn btn-green w-100">Tiếp theo</button>
        </form>

    </div>
</div>

@section Scripts {

<script src="/js/register.js"></script>

}