@using Tutoree.Utils.Common
@{
    this.ViewData["Title"] = Routers.Home.Title;
}
    <div class="home-page">
      <!-- Introduction section -->

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6">
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <!-- END: Top Bar -->

      <section class="introduction-section">
        <div class="introduction-home-decor">
          <img src="/images/home/BackgroundVector.png" />
        </div>
        <section class="container-fluid px-0">
          <div class="home-page-row row align-items-center content">
            <div class="col-md-6">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <h2 class="paragraph-title">
                    HỌC TẬP THÚ VỊ HƠN VỚI NHỮNG GIA SƯ ĐỒNG TRANG LỨA
                  </h2>
                  <p class="paragraph">
                    Vì để kịp giáo trình và thời gian biểu các môn, đôi khi
                    giảng viên không thể giảng bài một cách kĩ lưỡng và tận tình
                    từng vấn đề được. Điều này hoàn toàn được khắc phục bởi đội
                    ngũ gia sư trưởng thành từ chính môi trường FPT.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 introduction-img">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <img
                    src="/images/home/Student1.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="home-page-row row align-items-center content">
            <div class="col-md-6 order-1 order-md-2">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <h2 class="paragraph-title">
                    HỌC TẬP THÔNG QUA GÓC NHÌN CỦA MỘT NGƯỜI HỌC
                  </h2>
                  <p class="paragraph">
                    Còn gì tuyệt vời hơn khi được một người đã từng trải qua
                    những khó khăn trong học tập giống mình và quay lại hỗ trợ
                    mình vượt qua những khó khăn đó. Góc nhìn của người đã từng
                    học một môn cụ thể sẽ khiến học viên cực kì thoải mái khi
                    đưa ra những khó khăn mà không ngại người dạy không thể
                    hiểu, thông cảm cho mình.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 order-2 order-md-1 introduction-img">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <img
                    src="/images/home/Student2.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- Divider -->

      <div class="divider">
        <div class="seperate-line"></div>
        <div class="oval-logo">
          <img src="/images/logo/OvalLogo.png" alt="" class="img-fluid" />
        </div>
      </div>

      <!-- Finding suitable tutors section -->

      <section class="suitable-tutors-section">
        <section class="container-fluid px-0">
          <h1 class="section-heading">Hãy tìm cho mình một gia sư phù hợp</h1>
          <div
            class="home-page-row row align-items-center justify-content-center content"
          >
            <div class="suitable-tutors-illustration">
              <div class="home-page-big-logo-container" id="suitable-tutors">
                <img
                  src="/images/logo/BigLogoWithNoBorderRadius.png"
                  class="home-page-big-logo"
                />

                <!-- bubble information -->
                <div
                  class="row align-items-center justify-content-space-between bubble-information hidden"
                  id="default-bubble"
                >
                  <div class="index-container">
                    <p class="index-number">1</p>
                  </div>
                  <div class="col">
                    <p class="bubble-header">TRẺ TRUNG NĂNG ĐỘNG</p>
                    <p class="bubble-content">
                      Các bạn gia sư là sinh viên đến từ ngôi trường đại học FPT
                      của chúng ta
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- Divider -->

      <div class="divider">
        <div class="seperate-line"></div>
        <div class="oval-logo">
          <img src="/images/logo/OvalLogo.png" alt="" class="img-fluid" />
        </div>
      </div>

      <!-- Way of studying section -->

      <section class="introduction-section">
        <section class="container-fluid px-0">
          <h1 class="section-heading">Học tập hiệu quả và linh hoạt</h1>

          <div class="home-page-row row align-items-center content">
            <div class="col-md-6">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <h2 class="paragraph-title">
                    HỌC 1 KÈM 1 ONLINE/TẠI TƯỜNG/TẠI NHÀ
                  </h2>
                  <p class="paragraph">
                    Bạn tự chọn một gia sư đồng trang phù hợp ở bất kỳ đâu để
                    bắt đầu học 1 kèm 1. Tutoree đã chọn những gia sư giỏi đồng
                    hành giúp bạn đạt mục tiêu học tập. Tùy vào lựa chọn của
                    bạn, có thể học online, tại nhà, và tại trường.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <img src="/images/home/Group1.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
          <div class="home-page-row row align-items-center content">
            <div class="col-md-6 order-1 order-md-2">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <h2 class="paragraph-title">
                    HỌC TẠI NHÀ, THƯ VIỆN TRƯỜNG HAY BẤT CỨ NƠI ĐÂU
                  </h2>
                  <p class="paragraph">
                    Nếu bạn thích học theo nhóm nhỏ, Tutoree sẽ giúp bạn học
                    theo nhóm để nâng cao tinh thần tập thể. Bạn có thể tùy chọn
                    hình thức học online/tại nhà/tại trường.
                  </p>
                  <p class="paragraph">
                    Linh hoạt lịch học. Quy mô nhóm được thiết kế với số lượng
                    không quá 5 học viên nhằm dảm bảo chất lượng và theo sát
                    năng lực từng học viên của gia sư.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 order-2 order-md-1">
              <div class="row justify-content-center">
                <div class="col-10 col-lg-10 blurb mb-5 mb-md-0">
                  <img src="/images/home/Group2.png" alt="" class="img-fluid" />
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!-- FAQ section -->

      <!-- Footer -->
      <div class="footer-home"></div>
    </div>
    
@section Scripts {
    <script src="/js/home.js"></script>
}