@using Tutoree.Utils.Common
@{
    this.ViewData["Title"] = Routers.Home.Title;
}

<div class="flex-1 min-h-screen px-2 py-2 xl:px-8 xl:py-6">
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        <!-- END: Side Menu -->
        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <!-- END: Top Bar -->

            
        </div>
        <!-- END: Content -->
    </div>

</div>

@section Scripts {

<script src="/js/home.js"></script>
<script src="/js/pagination.js"></script>

}