:root {
  --color-0: #26c975;
  --button-primary: #00a77f;
  --button-secondary: black;
  --button-contrast: #ff9029;

  --border-sm: 0.5rem;
  --border-md: 1rem;
  --border-lg: 1.5rem;

  --shadow-md: 0px 1px 9px 3px #00000040;
}
